/* navbar styling */
nav  {
  position: fixed;
  top: 0;
  width: 100%;
  display: inline;
  display: block;
  background-color: black;
}

nav a{
  color: white;
  float: left;
  text-decoration: none;
  padding: 20px 20px;

}

/*Change the navigation button color to black on hover */
nav a:hover {
  background-color: grey;
}

.current {
  color: red;
}

/* Content Styling */

.content{
  margin-top: 70px;
}

h1{
  font-family: Impact, sans-serif;
}
body{
  font-family: Tahoma, sans-serif;
}

#home_video{
  margin-top: 20px;
}
